<html>
    <head>
        <title>Tambah Game</title>
    </head>
    <body>
        <h1>Tambah Game</h1>
        <form method="POST" action="/game">
            <label>Title</label>
            <br>
            <input type="text" name="title">
            <br>
            <label>Genre</label>
            <br>
            <input type="text" name="genre">
            <br>
            <label>Rating</label>
            <br>
            <input type="number" name="rating">
            <br>
            <label>Year</label>
            <br>
            <input type="number" name="year">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>